* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  background-color: darkblue;
}

.tell-ing {
  background-color: brown;
  color: white;
  text-align: center;
}
